<div class="wrapper login">
    <h1 class="title">로그인</h1>

    <div class="input-box">
        <h3>아이디</h3>
        <input class="default js-input-id" type="text" />
    </div>

    <div class="input-box">
        <h3>비밀번호</h3>
        <input class="default js-input-password" type="password" />
    </div>

    <button class="default js-button-login">로그인</button>
</div>