<div class="wrapper pet">
    <h1 class="title">펫</h1>

    <table class="data-list">

        <thead>
            <tr>
                <th>ID</th>
                <th>사용자</th>
                <th>견종</th>
                <th>이름</th>
                <th>생년월일</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-pet-list"></tbody>

    </table>
</div>