<div class="wrapper user">
    <h1 class="title">사용자</h1>

    <table class="data-list">

        <thead>
            <tr>
                <th>UID</th>
                <th>가입유형</th>
                <th>닉네임</th>
                <th>로그인</th>
                <th>레벨</th>
                <th>상태</th>
                <th>가입일</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="js-tbody-user-list"></tbody>

    </table>
</div>